Flask-RESTful==0.3.5
pytest>2.7.2
docker-compose==1.23.2
requests==2.20.1
retrying==1.2.3
jsonpath_rw==1.4.0
psycopg2>=2.6.1
docker==3.6.0
ujson
jsondiff==1.2.0
six
black==18.9b0; python_version >= '3.6.0'
mypy==0.670; python_version > '3.0'
flake8==3.5.0
pre-commit==1.18.3
